:root{
    --primary-color: #dfd0d0;
    --secondary-color: #ad1b1b;
    --body-bg-dark: #3d3d43;
}

body{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button{
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c1212;
}

input[type="search" i] {
    width: 800px;
    max-width: 100%;
    color: var(--primary-color);
    display: block;
    margin: auto;
    padding: 20px;
    background-color: #76160b;
    border: none;
    height: 50px;
    border: 2px solid var(--secondary-color);
}

input::placeholder{
    color: var(--primary-color);
}

header form{
    width: 100%;
    background-color: var(--secondary-color);
    opacity: 0.9;
}

.header .logo{
    width: 180px;
}

.header .logo img{
    max-width: 100%;
    height: auto;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar .nav-item{
    padding: 10px;
}

.navbar .nav-link{
    text-decoration: none;
    color: var(--primary-color);
}

.superhero-wrapper{
    min-height: 100vh;
    padding: 20px;
    color: var(--primary-color);
    font-size: 30px;
    text-align: center;
    background-image: radial-gradient(#924949,#7b3030, #76160b);
}

.superhero-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.superhero{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 25px;
    /* width: 45%; */
    max-width: 325px;
    border: 2px solid var(--secondary-color);
    box-shadow: 2px 2px 5px var(--body-bg-dark);
    border-radius: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

.superhero p{
    font-size: 12px;
}

.superhero-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.superhero-img{
    width: 325px;
    height: 300px;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.2);
}

.fav-btn i{
    color: #db769e;
}

.superhero-detail{
    max-width: 1600px;
    margin: auto;
    margin-top: 100px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
    text-align: left;
}

.detail-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    gap: 70px;
}

.detail-container .title{
    margin-bottom: 8px;
    margin-top: 20px;
}

.detail-container .list, .detail-container p{
    margin: 0;
}

.detail-container ul{
    padding: 0;
}

.detail-container .img-container{
    width: 40%;
}

.detail-container img{
    width: 100%;
}

.detail-container .info-container{
    width: 55%;
}

@media(max-width: 768px){
    .superhero{
        width: 90%;
    }
    .superhero-list{
        justify-content: center;
    }
}

@media(max-width: 1200px){
    .detail-container .info-container{
        width: 90%;
    }
        
    .detail-container .img-container{
        width: 60%;
    }
}

@media(min-width: 1500px){
    .superhero-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
